<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{components/head :: head}">
</head>
<body th:replace="~{layouts/main:: layout}">

<div class="container-fluid" th:fragment="content">
  <div class="text-right mb-2 mx-3">
    <button class="btn btn-primary add-room" type="button" data-toggle="modal" data-target="#AddRoomsModal"
            th:style="${#lists.size(listInfoOfFml) == #maps.size(memberRoomMap)} ? 'display:none' : ''"
    >Add New Room</button>
    <!--    <button id="btn-test">Button test</button>-->
  </div>
  <div class="row">
    <div th:each="entry, stat : ${memberRoomMap}" class="col-md-4 btn" >
      <div class="pt-2">
        <div class="two">
          <div class="d-flex justify-content-end px-3 pt-1">
<!--            <i class="mdi mdi-star-outline pr-1 star"></i>-->
<!--            <i class="mdi mdi-dots-horizontal dot"></i>-->
            <div class="dropdown">
              <button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-horizontal dot"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a  th:attr="data-id=${entry.key.CCCD}, data-name=${entry.key.Name}" class="dropdown-item join-room" data-toggle="modal" data-target="#AddRoomsModal">Join</a></li>
                <li><a class="dropdown-item add-new-member">Add new member</a></li>
                <li ><a th:attr="data-id=${entry.key.CCCD}" class="dropdown-item edit-room" data-toggle="modal" data-target="#AddRoomsModal">Change PIN</a></li>
                <li><hr class="dropdown-divider border-top border-secondary"></li>
                <li><a th:attr="data-id=${entry.key.CCCD}" class="dropdown-item text-danger delete-room">Delete</a></li>
              </ul>
            </div>
          </div>
<!--          data-toggle="modal" data-target="#DetailRoom"-->
          <div class="px-3 join-room" th:attr="data-id=${entry.key.CCCD}, data-name=${entry.key.Name}" data-toggle="modal" data-target="#AddRoomsModal">
            <div class="round">
              <img width="25" height="25" src="https://img.icons8.com/fluency/48/room.png" alt="room"/>
            </div>
          </div>
          <div class="px-3 pt-3 join-room" th:attr="data-id=${entry.key.CCCD}, data-name=${entry.key.Name}" data-toggle="modal" data-target="#AddRoomsModal">
            <h3 class="name" th:text="${entry.key.Name}">Name room</h3>
            <p class="quote2" th:text="'This is room of ' + ${entry.key.Name}">This is room of Name room</p>
          </div>
<!--          <div class="d-flex justify-content-start px-3 align-items-center">-->
<!--            <i class="mdi mdi-view-comfy task"></i>-->
<!--            <span class="quote2 pl-2">Task: Commercial project</span>-->
<!--          </div>-->
          <div class="d-flex justify-content-between px-3 align-items-center pb-3">
            <div class="d-flex justify-content-start align-items-center">
              <i class="mdi mdi-calendar-clock date"></i>
<!--              <span class="quote2 pl-2">Date: 01.10.2020</span>-->
            </div>
<!--            <div class="d-flex justify-content-end">-->
<!--              <img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" width="20" class="img1" />-->
<!--              <img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="20" class="img2" />-->
<!--              <img src="https://img.icons8.com/bubbles/50/000000/short-hair-girl-question-mark.png" width="20" class="img3" />-->
<!--            </div>-->
          </div>
        </div>

      </div>
    </div>
    <!-- Thêm nhiều card hơn tại đây -->
  </div>



  <!-- Modal Add Join Edit room -->
  <div class="modal fade" id="AddRoomsModal" tabindex="-1" aria-labelledby="AddRoomsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="AddRoomsModalLabel">Add room</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group mb-3 inputSelect" >
              <span class="input-group-text " id="roomroom"><i class="fa fa-address-card"></i></span>
              <select class="form-control" id="inputGroupSelect" >
                <option selected>Choose name</option>
                <option th:each ="item : ${listInfoOfFml}" th:value="${item.CCCD}" th:text="${item.Name}">One</option>
              </select>
            </div>
            <div class="input-group mb-3 inputPinOld">
              <span class="input-group-text " id="basic-idPinOld"><i class='fas fa-key'></i></span>
              <input id="idPinOld" type="password" class="form-control" placeholder="Old PIN" aria-label="PINOld" aria-describedby="idPinOld">

            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-idPin"><i class='fas fa-key'></i></span>
              <input id="idPin" type="password" class="form-control" placeholder="PIN Code" aria-label="PIN" aria-describedby="idPin">
            </div>
            <div class="input-group mb-3 inputText">
              <span class="input-group-text" id="basic-idPinComfirm"><i class='fas fa-shield-alt'></i></span>
              <input id="comfirmPin" type="password" class="form-control " placeholder="Confirm PIN Code" aria-label="PIN" aria-describedby="idPinComfirm">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button data-id=""  id="btn-save-room" type="button" class="btn btn-primary">Save</button>
          <button data-id="" id="btn-update-room"  type="button" class="btn btn-primary">Update</button>
          <button data-id="" id="btn-join-room"  type="button" class="btn btn-primary">Join</button>
        </div>
      </div>
    </div>
  </div>
<!--  Modal Room-->
  <div class="modal fade bd-example-modal-lg" id="DetailRoom" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Diary</th>
                <th>CCCD</th>
                <th>Full name</th>
                <th>Gender</th>
                <th>Job</th>
                <th>Department</th>
                <th>Address</th>
                <!--            <th>Status</th>-->
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="i : ${list}">
                <td th:attr="data-id=${i.CCCD}">
                  <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i class='far fa-eye' style='font-size:24px'></i></button>
                </td>
                <td th:text="${i.CCCD}"></td>
                <td th:text="${i.Name}"></td>
                <td th:text="${i.Gender ? 'Nam' : 'Nữ'}"></td>
                <td th:text="${i.Job}"></td>
                <td th:text="${i.Department}"></td>
                <td th:text ="${i.Address}"></td>
                <!--            <td><div class="badge bg-success text-white rounded-pill">Active</div></td>-->
                <td>
                  <button  th:attr="data-id=${i.CCCD}" class="btn btn-datatable btn-icon btn-transparent-dark me-2 px-1 family-detail" data-placement="top" title="Xem chi tiết" data-toggle="modal" data-target="#AddQuanTam">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                  </button>
                  <button  th:attr="data-id=${i.CCCD}" class="btn btn-datatable btn-icon btn-transparent-dark me-2 px-1 family-edit" data-placement="top" title="Sửa" data-toggle="modal" data-target="#AddQuanTam">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </button>
                  <button  th:attr="data-id=${i.CCCD}" class="btn btn-datatable btn-icon btn-transparent-dark px-1 family-delete" data-placement="top" title="Xoá">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </button>
                  <!--              <button class="btn btn-datatable btn-icon btn-transparent-dark me-2 px-1" data-placement="top" title="Xem nhat ">-->
                  <!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">-->
                  <!--                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>-->
                  <!--                </svg>-->
                  <!--              </button>-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/js/pages/rooms.js}"></script>
</html>